# Discord API
export D_BOT_TOKEN=""
export D_A1_CHANNEL_ID=""
export D_A2_CHANNEL_ID=""
export D_ROLE_ID=""

# Google Calendar API
export G_CALENDAR_ID=""
export G_CREDENTIALS='
{
  "type": "service_account",
  ...
}
'
